#bottom_bar
  padding: 0px

  .menu
    border-radius: 0px
    bottom: 0px

    > .grid
      > .row
        margin-bottom: 0px

  a.item
    text-align: center

    @media screen and (min-width: 800px)
      margin-left: 50px
      margin-right: 50px

    i.icon
      margin: 0px
    .icon_text
      font-size: 1em

    .right-menu
      a.item
        @media screen and (min-width: 800px)
          margin-left: 50px
          margin-right: 50px