html
  font-size: 15px

body
  color: #3d3437 !important
  font-size: 15px
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  background: #fcfcfc image-url("bg.jpg") repeat
  margin: 0px
  padding: 0px
  min-width: 320px

h1, h2, h3, h4, h5
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif

p, ul, .ui.grid, li
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
  font-size-adjust: none

.main.container
  padding: 90px 20px 90px 20px

i.icon
  &.small
    font-size: 1em
  &.medium
    font-size: 2em

a
  &:link, &:visited
    color: grey

.ui.yellow
  background-color: #ffcf64 !important
  &.label
    border-color: #ffcf64
    background-color: transparent !important

.item
  color: #3d3437 !important

  &.active_own_color
    -webkit-box-shadow: none !important
    box-shadow: none !important
    background-color: rgba(255, 255, 255, 0.2)
    color: #3d3437 !important
