#new_stuff
  #stuff_description
    min-height: 4em
    height: 4em

.stuff_item.normal
  width: 150px !important
  min-height: 50px !important

  .name
    font-size: 16px !important
    font-weight: normal !important

  .tags
    font-size: 0.7em

  a.like
    text-decoration: none

  .extra
    a
      text-decoration: none

a
  i.without_line
    text-decoration: none


.stuff_popup
  padding: 30px !important
  width: 30% !important
  margin-left: -20% !important

  .stuff_item.popup
    a.like
      text-decoration: none

#tag_cloud
  line-height: 1.6em
  .s
    font-size: 1.8em
  .m
    font-size: 3em
  .l
    font-size: 3em

  a
    margin-bottom: 7px

.form_with_alts
  @media screen and (min-width: 800px)
    width: 50% !important

i.margin0
  margin-left: 0.25em !important
