#top_bar
  padding: 0px

  .menu
    border-radius: 0px

  #logo
    i
      font-size: 3em
    .ui.huge.header
      display: inline

  .item
    text-align: center
    i.icon
      margin: 0px
      font-size: 2em
    .icon_text
      font-size: 1em

  .sign_in
    .menu
      .item
        text-align: left